body {
    font-family: monospace;
    margin: 0;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul.inline-list li {
    display: inline-block;
}

ul.block-list li {
    padding: 5px 0;
}

#topbar {
    display: flex;
    height: 40px;
    align-items: center;
    border-bottom: 1px solid;
    box-sizing: border-box;
    padding: 0 10px;
}

#home {
    flex: 0 0 auto;
}

#nav {
    flex: 0 0 auto;
}

#nav li {
    padding: 0 10px;
}

#nav a {
    text-transform: capitalize;
}

.divider {
    padding: 0 10px;
}

.header {
    margin-bottom: 5px;
}

.actions {
    display: flex;
    margin-bottom: 10px;
}

#breadcrumb {
    display: flex;
    height: 24px;
    align-items: center;
    border-bottom: 1px solid;
    box-sizing: border-box;
    padding: 0 10px;
}

.breadcrumb-link::after {
    content: "/";
    padding: 0 10px;
}

.breadcrumb-link:last-child::after {
    content: "";
}

.breadcrumb-link:last-child a {
    color: #000;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.selected-item {
    background-color: #eee;
}

.selected-item a {
    color: #000;
    cursor: default;
}

.list-header {
    border-bottom: 1px solid;
    font-weight: bold;
}

#filter {
    margin-bottom: 10px;
}

.cell-2 {
    width: 20%;
}

.cell-3 {
    width: 30%;
}

.cell-5 {
    width: 50%;
}

.row {
    display: flex;
}

.stretch {
    flex: 1 1 auto;
}

.flex-container {
    display: flex;
    height: calc(100% - 64px);
}

#page-content {
    flex: 1 1 auto;
    padding: 10px;
}

#menu {
    flex: 0 0 auto;
    width: 140px;
    overflow: hidden;
    border-right: 1px solid;
    padding: 0 10px;
}

.one-column {
    padding: 10px;
}

.product {
    border: 1px solid;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
}

.link-btn {
    border: 1px solid;
    color: #000;
    background-color: #eee;
    padding: 5px 10px;
}